.dashboard {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 180px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.card:hover {
  transform: scale(1.05);
}