.form-container {
  margin-top: 30px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* ✅ BUTTON STYLE */
.btn {
  background: #22c55e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #16a34a;
}