/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

body{
  background:#0f172a;
  color:#fff;
}

.app{
  width:95%;
  max-width:1500px;
  margin:auto;
  padding:30px 0;
}

/* ================= HEADER ================= */

.header{
  text-align:center;
  margin-bottom:30px;
}

.header h1{
  font-size:58px;
  color:#2ecc71;
  font-weight:700;
}

.header p{
  margin-top:10px;
  color:#94a3b8;
  font-size:26px;
}

/* ================= CARDS ================= */

.dashboard-card,
.goal-card,
.history-card,
.chart-card,
.ai-card,
.workout-card{

  background:#20293d;

  border:1px solid rgba(255,255,255,.08);

  border-radius:24px;

  padding:28px;

  margin-bottom:28px;

  box-shadow:0 15px 35px rgba(0,0,0,.25);

}

/* ================= GRID ================= */

.middle-grid{

  display:grid;

  grid-template-columns:2fr 1fr;

  gap:28px;

  align-items:start;

}

/* ================= INPUTS ================= */

input,
select{

  width:100%;

  background:#0f172a;

  color:white;

  border:none;

  outline:none;

  border-radius:14px;

  padding:18px;

  font-size:18px;

  margin-top:18px;

}

input::placeholder{
  color:#7c879c;
}

select{
  cursor:pointer;
}

/* ================= BUTTON ================= */

button{

  width:100%;

  margin-top:22px;

  background:linear-gradient(90deg,#2ecc71,#38bdf8);

  color:white;

  border:none;

  border-radius:14px;

  padding:16px;

  font-size:18px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;

}

button:hover{

  transform:translateY(-3px);

}

/* ================= TABLE ================= */

table{

  width:100%;

  margin-top:20px;

  border-collapse:collapse;

}

th{

  background:#111827;

  padding:16px;

}

td{

  padding:16px;

  border-bottom:1px solid rgba(255,255,255,.08);

}

tr:hover{

  background:#273349;

}

/* ================= TITLES ================= */

h2{

  font-size:22px;

  margin-bottom:20px;

}

/* ================= MOBILE ================= */

@media(max-width:1000px){

.middle-grid{

grid-template-columns:1fr;

}

.header h1{

font-size:42px;

}

.header p{

font-size:18px;

}

}